<!DOCTYPE html>
<html lang="en">
    <%- include("../partials/head") %>
        <link rel="stylesheet" href="/css/home.css">
        <title>Bienvenidos a Full Shape</title>
    </head>
    <body>
        <%- include("../partials/header") %>
        <main class="home">
            <section class="banner">
                <img class="banner-flecha" src="/images/mover-al-anterior.png"/>
                <div>
                    <p class="banner-notification">HOT WEEK</p><br>
                    <p class="banner-notification">50% OFF</p><br>
                    <p class="banner-notification">hasta 6 cuotas sin interés</p><br>
                </div>
                <img class="banner-flecha" src="/images/mover-al-siguiente.png"/>
            </section>   
            <div class="destacados" >
                <h2 >Destacados</h2>
            </div>
            <div class="contenedor-padre">            
                <div class="filtros" > 
                    <div><p> <strong>TIPO DE PRODUCTO</strong> </p>
                        <div class="filtro-item">
                            <input type="radio">
                            <label>Gimnasio</label>
                        </div>
                        <div class="filtro-item">
                            <input type="radio">
                            <label>Suplementos</label>
                        </div>
                        <div class="filtro-item">
                            <input type="radio">
                            <label>Boxeo</label>
                        </div>
                        <div class="filtro-item">
                            <input type="radio">
                            <label>Kinesiología</label>
                        </div>
                        
                        <hr/>
                    </div>
                    <div><p> <strong> TIPO DE GÉNERO  </strong> </p>
                        <div class="filtro-item">
                            <input type="checkbox">
                            <label>Masculino</label>
                        </div>
                        <div class="filtro-item">
                            <input type="checkbox">
                            <label>Femenino</label>
                        </div>
                        <div class="filtro-item">
                            <input type="checkbox">
                            <label>Otro</label>
                        </div>
                        <hr/>
                    </div>
                    <div><p> <strong> PRECIO  </strong> </p>
                        <div class="filtro-item">
                            <input type="checkbox">
                            <label>Menor a $2000</label>
                        </div>
                        <div class="filtro-item">
                            <input type="checkbox">
                            <label>Mayor a $2000</label>
                        </div>
                        <div class="filtro-item">
                            <input type="checkbox">
                            <label>Menor a $5000</label>
                        </div>
                        <div class="filtro-item">
                            <input type="checkbox">
                            <label>Mayor a $5000</label>
                        </div>
                        <hr/>
                    </div>  
                    <div><p> <strong>DISCIPLINA </strong> </p>
                        <div class="filtro-item">
                            <input type="checkbox">
                            <label>Fútbol</label>
                        </div>
                        <div class="filtro-item">
                            <input type="checkbox">
                            <label>Tenis</label>
                        </div>
                        <div class="filtro-item">
                            <input type="checkbox">
                            <label>Training y fitness</label>
                        </div>
                        <div class="filtro-item">
                            <input type="checkbox">
                            <label>Gym</label>
                        </div>
                        <div class="filtro-item">
                            <input type="checkbox">
                            <label>Running</label>
                        </div>
                        <hr/>
                    </div>
                    <div><p> <strong>ENVIO FULL  </strong> </p>
                        <div class="filtro-item">
                            <input type="radio">
                            <label>Si</label>
                        </div>
                        <div class="filtro-item">
                            <input type="radio">
                            <label>No</label>
                        </div>
                    </div>
                </div>
          
                <div class="products" > 
                    <% for (const product of products) {  %>
                    <article class="product">
                        <a href="/products/<%= product.productId %>"><img class= "imagen-home"src="/images/products/<%= product.productMainImage %>" alt="" width="100%"></a>
                        <div class="main-article"> 
                        <p><%= product.productName %></p>
                        <p  class="price">$<%= product.productUnitPrice %></p>
                        <p class="discount"></p>
                        <!--Ajustado a mostrar solo los primeros 50 caracteres-->
                        <h4 class="description"><%=product.productDescription.slice(0,50) %></h4>
                        </div>
                    </article>
                    <% } %>
                </div>
            </div>
        </main>
        <%- include("../partials/footer") %>
    </body>
</html>