<!DOCTYPE html>
<html>
    <%- include("../partials/head") %>
        <link rel="stylesheet" href="/css/productCreateEdit.css">
    </head>
    <body>
        <div class="cuerpo_creacion_edicion">
            <%- include("../partials/header") %>
            <main class="product_creation">
                <form class="product_creation" action="/products" method="POST" enctype="multipart/form-data">  
                    <h1 class="creaTuProducto">¡Crea un nuevo producto!</h1> 
                    <h6 class="required">los campos con asterisco son necesarios para la creción del producto</h6>
                <!-- Aquí van los campos -->
                    <div class="NombreNuevoProducto">
                        <label for="NombreProducto">Nombre del producto</label><label class="required">  *</label><br>
                        <input type="text" name="productName" id="name"
                        value="<%= locals.oldData ? oldData.productName : null %>"
                        ><br>
                            <p id="wrongName"></p>
                        <% if(locals.errors && errors.productName) { %>
                            <p class="required"><%= errors.productName.msg %></p>
                        <% } %>
                    </div>
                    <div class="DescripcionNuevoProducto">
                        <label for="ProductDescripcion">Descripción del producto</label><label class="required">  *</label><br>
                        <textarea name="productDescription" id="description"
                        value="<%= locals.oldData ? oldData.productDescription : null %>"
                        ></textarea><br>
                        <p id="wrongDescription"></p>
                        <% if(locals.errors && errors.productDescription) { %>
                            <p class="required"><%= errors.productDescription.msg %></p>
                        <% } %>
                    </div>
                    <div class="imagenProducto">
                        <label>Agrega una o más imagenes de tu producto</label>
                        <input type="file" name="productMainImage" multiple id="image">
                        <p id="wrongImage"></p>
                        <% if(locals.errors && errors.productMainImage) { %>
                            <p class="required"><%= errors.productMainImage.msg %></p>
                        <% } %>
                    </div>
                    <div class="ClasificacionNuevoProducto">
                        <div class="NuevoUsadoRadios">
                            <div class="NuevoUsado">
                                <input class="radio" type="radio" name="productStatus" value="Nuevo" checked>
                                <label>Producto Nuevo</label>
                            </div>
                            <div class="NuevoUsado">
                                <input class="radio" type="radio" name="productStatus" value="Usado">
                                <label>Producto Usado</label>
                            </div>
                        </div>
                        <div class="DetallesProducto">
                            <div class="nuevoProductoCategoria">
                                <label>Seleccionar categoría:</label>
                                <select style="font-size:18px;" name="productCategory">
                                    <% aCategories.forEach(category => { %>
                                        <option value=<%= category.categoryName %>> <%= category.categoryName %></option>
                                    <% }) %>
                                </select>
                            </div>
                            <div class="nuevoProductoColores">
                                <label>Seleccione un color:</label>
                                <select name="productColor">
                                    <% aColors.forEach(color => { %>
                                    <option value=<%= color.colorName %>><%= color.colorName %></option>
                                    <% }) %>
                                    <option value="">No aplica</option>
                                </select>
                            </div>
                            <div class="nuevoProdyctoTalles">
                                <label>Seleccione un talle:</label>
                                <select name="productSize">
                                    <% aSizes.forEach(size => { %> 
                                    <option value=<%= size.sizeName %>><%= size.sizeName %></option>
                                    <% }) %>
                                    <option value="">No aplica</option>
                                </select>
                            </div>  
                        </div>  
                        </div>
                        <div class="CodigoUniversal">
                            <div>
                                <label for="ProductUniversal">Código Universal del producto</label>
                                <input type="text" name="productCode" value="<%= locals.oldData ? oldData.productCode : null %>"><br>
                                <p>Es un numero que se encuentra junto al código de barras, en la caja del producto o en su etiqueta. </p>
                            </div>
                            <div class="referenciaUniversal"> 
                                <img src="/images/CodigoUniversalRef.png" alt="Referencia de Codigo universal">
                            </div> 
                        </div>
                        <div class="PrecioNuevoProducto">
                            <label for="PrecioUnitario">Precio por Unidad (u$s)</label><label class="required">  *</label><br>
                            <input type="text" name="productUnitPrice" id="price"
                            value="<%= locals.oldData ? oldData.productUnitPrice : null %>"
                            ><br>
                            <p id="wrongPrice"></p>
                            <% if(locals.errors && errors.productUnitPrice) { %>
                                <p class="required"><%= errors.productUnitPrice.msg %></p>
                            <% } %>
                        </div>
                        <div class="GuardarNuevoProducto">
                            <div class="botones">
                                <p><button type="submit">Guardar y crear nuevo producto</button></p> 
                            </div>
                        </div>
                    <div>
                    <div class="logo"> 
                        <img src="/images/Shapepng2.svg" alt="Logo a Color Full Shape">
                    </div> 
                </form>
            </main>
            <%- include("../partials/footer") %>
        </div>
        <script src="/js/productsValidations.js"></script>
    </body>
</html>
