<header>
    <nav>
        <ul>
            <li style="font-weight:bold"><a href="/products/create">Vender</a></li>
            <li><a href="#">Ayuda</a></li>
            <% if (user) { %>
                <li class="user-menu"><%= user.userNames %>
                    <ul>
                        <li class="user-option"><a href="/users/<%= user.userId %>">Ver perfil</a></li>
                        <li class="user-option"><a href="/users/edit/<%= user.userId %>">Editar perfil</a></li>
                        <li class="user-option">
                            <form action="/users/<%= user.userId %>?_method=DELETE" method="POST">
                                <button type="submit">Cerrar Sesión</button>
                            </form>
                        </li>
                    </ul>
                </li>
            <% } else { %>
                <li><a href="/users/login">Iniciar sesión</a></li>
                <li><a href="/users/register">Registrate</a></li>
            <% } %>
        </ul>
    </nav>
    <a href="/" id="logo"><img  src="/images/Shapepng.svg" alt=""></a>
    <div class="barra-busqueda">
        <form action="/products/search" method="GET">
            <input class="busqueda" type="text" name="article" placeholder="Buscar artículo"> 
            <button type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
        </form>
    </div>
    <a id="cart" <% if (user) { %>
        href="/shoppingcart/<%= user.userId %>"
    <% } else { %>
        href="/shoppingcart/guest" 
        <% } %>><i class="fa-solid fa-cart-shopping"></i></a>
    <div class="seleccionar-categoria">
        <p>Gimnasio</p>
        <p>Suplementos</p>
        <p>Fútbol</p>
        <p>Boxeo</p>
        <p>Kineseología</p>
        <form action="/" method="POST">
            <label>Seleccionar categoría</label>
            <select name="Categoría">
                <option value="gimnasio">Gimnasio</option>
                <option value="gimnasio">Suplementos</option>
                <option value="gimnasio">Fútbol</option>
                <option value="gimnasio">Boxeo</option>
                <option value="gimnasio">Kineseología</option>
            </select>
        </form>
    </div>
</header>