<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Regístrate</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://fonts.googleapis.com/css2?family=Lato&family=Roboto&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
        <link rel="stylesheet" href="/css/registerstyles.css">
    </head>
    <body>
        <header>
        </header>
        <div class="cuerpo-registro">
        <main>
            <div class="errores" style="color:red; text-align:center; font-size:18px; background-color: #13D493;">
                <ul style="list-style-type: none"></ul>
            </div>
                <form class="registro-popup" action="/users/guardar" method="POST" enctype="multipart/form-data">  
                    <div class="formRegistro-izquierdo">
                        <h1 class="registrate">Registrate</h1> 
                        <h6 class="requerido">los campos con asterisco son necesarios para el registro</h6>
                    <!-- Aquí van los campos -->
        
                        <div>
                            <label for="userNames">Nombres</label><label class="requerido">  *</label><br>
                            <input type="text" name="userNames" id="userNames"
                            value="<%= locals.oldData ? oldData.userNames : null %>"
                            ><br>
                            <% if(locals.errors && errors.userNames) { %>
                                <p class="requerido"><%= errors.userNames.msg %></p>
                            <% } %>
                        </div>
                        <div>
                            <label for="userLastNames">Apellidos</label><label class="requerido">  *</label><br>
                            <input type="text" name="userLastNames" id="userLastNames"
                            value="<%= locals.oldData ? oldData.userLastNames : null %>"
                            ><br>
                            <% if(locals.errors && errors.userLastNames) { %>
                                <p class="requerido"><%= errors.userLastNames.msg %></p>
                            <% } %>
                        </div>
                        <div>
                            <label for="userPhone">Número de teléfono</label><br>
                            <input type="number" name="userPhone"
                            value="<%= locals.oldData ? oldData.userPhone : null %>"
                            ><br>
                        </div>
                        <div>
                            <label for="userEmail">Email</label><label class="requerido">  *</label><br>
                            <input type="email" name="userEmail" id="userEmail"
                            value="<%= locals.oldData ? oldData.userEmail : null %>"
                            ><br>
                            <% if(locals.errors && errors.userEmail) { %>
                                <p class="requerido"><%= errors.userEmail.msg %></p>
                            <% } %>
                        </div>
                        <div class="recibir-ofertas">
                            <label class="recibir-ofertas">Recibir ofertas y novedades</label>
                            <input class="radio" type="radio" name="userReceiveOffersAndNews"
                            value="1" checked
                            ><label>Sí</label>
                            <input class="radio" type="radio" name="userReceiveOffersAndNews"
                            value="0"
                            ><label>No</label><br>
                        </div>
                        <div class="recibir-ofertas">
                            <label class="recibir-ofertas">Tipo de usuario</label>
                            <input class="radio" type="radio" name="userType"
                            value="Seller" checked
                            ><label>Vendedor</label>
                            <input class="radio" type="radio" name="userType"
                            value="Shopper"
                            ><label>Comprador</label><br>
                        </div>
                        <div>
                            <label for="userPassword">Crear Contraseña</label><label class="requerido">  *</label><br>
                            <input type="password" name="userPassword" id="userPassword"
                            value="<%= locals.oldData ? oldData.userPassword : null %>"
                            ><br>
                            <h6>(?) la contraseña debe poseer al menos 8 caracteres</h6>
                            <% if(locals.errors && errors.userPassword) { %>
                                <p class="requerido"><%= errors.userPassword.msg %></p>
                            <% } %>
                        </div>
                        <div>
                            <label for="PasswordConfirmation">Repetir Contraseña</label><label class="requerido">  *</label><br>
                            <input type="password" name="PasswordConfirmation" id="userPasswordConfirmation"><br>
                            <% if(locals.errors && errors.PasswordConfirmation) { %>
                                <p class="requerido"><%= errors.PasswordConfirmation.msg %></p>
                            <% } %>
                        </div>
                        <div>
                            <label for="userImage">Imagen del usuario</label><label class="requerido">  *</label><br>
                            <input type="file" name="userImage" id="userImage"><br>
                            <% if(locals.errors && errors.userImage) { %>
                                <p class="requerido"><%= errors.userImage.msg %></p>
                            <% } %>
                        </div>
                            <div class="botones">
                            <p><button type="submit">Registrarse e iniciar sesión</button></p> 
                        </div>
                    </div>
                    <div class="formRegistro-derecho">
                        <div class="sign-in-with-buttons">
                <!-- ------botón de inicio sesion con Facebook------- -->                 
                            <div class="g-sign-in-button">
                                <div class="content-wrapper">
                                    <div class="logo-wrapper">
                                        <img src='https://cdn-icons-png.flaticon.com/512/124/124010.png'>
                                    </div>
                                    <span class='text-container'>
                                    Sign in with Facebook
                                    </span>
                                </div>
                            </div>
                <!-- ------botón de inicio sesion con Google------- -->
                            <div class="g-sign-in-button">
                                <div class="content-wrapper">
                                    <div class="logo-wrapper">
                                        <img src='https://developers.google.com/identity/images/g-logo.png'>
                                    </div>
                                    <span class='text-container'>
                                    Sign in with Google
                                    </span>
                                </div>
                        </div>
            <!-- -------Fin de botones inicio sesion con...--------- -->
                    </div>
                        <div class="terminos">
                            <a>Al usar cualquiera de estos métodos de registros, estas aceptando nuestros</a>
                            <a href="#">Términos y condiciones</a>
                        </div>
                        <div class="logo-registro"> 
                            <a href="/"><img src="/images/Shapepng2.svg" alt="Logo a Color Full Shape"></a>
                                <!-- <h1>Full Shape</h1> -->
                        </div>
                        
                        <div class="registrate">
                            <a>Si ya posees cuenta ingresa desde</a>
                            <a href="/users/login">AQUI</a>
                        </div>
                    </div>
            
                </form>
        </main>
        <%- include("../partials/footer") %>
        </div>
        <script src="/js/registerValidations.js"></script>
    </body>
</html>
