<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("../partials/head") %>
    <link rel="stylesheet" href="/css/userDetail.css">
<title>Bienvenidos a Full Shape</title>
</head>
<body>
<!-- Aqui va el partial del header, pero me estaba dando error en la renderizacion de esta vista cuando era incluido -->
    <main class="index">
            <div class="contenedor-padre">            
                <div class="usuarios" > 
                    <article class="user">
                        <img class= "imagen-index"src="/images/users/<%= user.userImage %>" alt="" width="100%">
                        <div class="main-article"> 
                        <p>Nombres: <%= user.userNames %></p>
                        <p>Apellidos: <%= user.userLastNames %></p>
                        <p>Teléfono: <%= user.userPhone %></p>
                        <p>Email: <%= user.userEmail%></p>
                        </div>
                    </article>
                    <a href="/"><button>Volver a Home</button></a>
                    <form action="/users/<%= user.userId %>?_method=DELETE" method="POST">
                        <button type="submit">Cerrar Sesión</button>
                    </form>
                </div>
            </div>
    </main>
    <%- include("../partials/footer") %>
</body>
</html>